<section class="section">
  <div class="columns is-mobile is-centered is-vcentered cover-all">
    <div class="column is-half">
      <div class="content">
        <h1>Nueva reseña</h1>
      </div>

      <%= form_with(model: @resena , method: :post) do |form| %>
        <div class="field">
          <label class="label">Calificación</label>
          <div class="control">
            <%= form.number_field :calificacion, in: 1..10, step: 0.1 %>
          </div>
        </div>

        <div class="field">
          <label class="label">Comentario</label>
          <div class="control">
            <%= form.text_area :contenido, :class=>"textarea" %>
          </div>
        </div>

        <div>
          <%= form.hidden_field :turno_id, value: @id_turno %>
        </div>

        <div class="control">
            <%= form.submit "Crear", :class=>"button is-info" %>
            <%= link_to "Cancelar", turnos_show_path(:id => @id_turno, :id_creador => @id_creador), :class=>"button is-info is-light" %>
        </div>
        
      <% end %>
    </div>
  </div>
</section>
