<% if false %>
  <h2>Editar <%= resource_name.to_s.humanize %></h2>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "usuarios/shared/error_messages", resource: resource %>

  <div class="columns is-centered mt-4">
    <div class="column is-4 has-background-info-light">

      <div><h1 class="title is-3 mb-4">Editar Datos</h1></div>

      <div class="field">
        <label class="label has-text-left">Nombre</label>
        <div class="control">
          <%= f.text_field :nombre, :class => "input", :type => "text", :placeholder => "Ingrese su Nombre"%>
        </div>
      </div>

      <div class="field">
        <label class="label has-text-left">Email</label>
        <div class="control has-icons-left has-icons-right">
          <%= f.email_field :email, :class => "input", :type => "email", :placeholder => "Ingrese Email"%>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>

      <div class="field">
      <div class="control">
        <label class="label has-text-left">Telefono</label>
        <%# <a class="button is-static">
          +569
        </a> %>
        <%= f.phone_field :telefono, :type => "tel", :class => "input" , :placeholder => "Ingrese su Teléfono"%>
      </div>
      </div>

      <label class="label has-text-left"> Ingrese su direccion</label>
      <div class="columns">
        
        <div class="column">
          <div class="field">
            <%# <%= f.label :direccion , :class => "label"%> 
            <%= f.text_field :calle, :class => "input", :type => "text", :placeholder => "Calle"%>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%# <%= f.label :direccion , :class => "label"%> 
            <%= f.text_field :numero, :class => "input", :type => "text", :placeholder => "Numero"%>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%# <%= f.label :direccion , :class => "label"%> 
            <%= f.text_field :comuna, :class => "input", :type => "text", :placeholder => "Comuna" %>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label has-text-left">Url Imagen</label>
        <%= f.text_field :imagen, :class => "input", :type => "text", :placeholder => "Ingrese el url de la foto" %>
      </div>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <label class="label has-text-left">Nueva Contraseña</label> 
        <% if @minimum_password_length %>
        <% end %>
        <p class="control has-icons-left">
        <%= f.password_field :password, :class => "input", :type => "password", :placeholder => "Dejar en blanco sino se desea cambiar" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label has-text-left">Confirmacion Nueva Contraseña</label> 
        <p class="control has-icons-left">
          <%= f.password_field :password_confirmation, :class => "input", :type => "password", :placeholder => "Confirmacion Nueva Contraseña"  %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
      </div>
      
      <div class="mt-4 field">
        <label class="label has-text-left">Contraseña Actual</label> 
        <p class="control has-icons-left">
          <%= f.password_field :current_password, :class => "input is-outlined is-success", :type => "password", :placeholder => "Ingrese su contraseña actual" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      
      <div class="actions">
        <%= f.submit "Actualizar", class: "button is-success is-outlined is-responsive" %>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-5 columns is-centered mt-4">
  <div class="column is-4 has-background-info-light">
    <div>
      <h3 class="title  is-4">Eliminar Mi Cuenta</h3>
      <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estás Segur@?" }, method: :delete, class: "button is-danger is-outlined is-responsive" %>
    </div>
  </div>
</div>


