<%= form_with(model: @tupla , method: :post) do |form| %>
    
    <div class="columns is-centered mt-4">
        <div class="column is-4">
            <div><h1 class="mt-4 title is-4 has-background-info-light mb-4"> Usuario Solicitando Unirse </h1></div>
            <div class="field">    
                <label class="label has-text-left">Nombre: <%= Usuario.find(@params[:id_usuario]).nombre %></label>
            </div>

            <div><h1 class="mt-4 title is-4 has-background-info-light mb-4"> Turno al que se quiere unir </h1></div>
            <div class="field">
                <label class="label"><% turno = Turno.find(@params[:id_turno]) %></label>
                <label class="label has-text-left">Los dias: <%= turno.dia_de_la_semana%></label>
                <label class="label has-text-left"> Con dirección de llegada: <%= turno.direccion_llegada%><label class="label">
            </div>

            <div class="mt-6 field">
                <label class="label"> Seguro quieres aceptarlo? </label>
                <%= form.submit 'Aceptar', class: "button is-responsive is-outlined is-success" %>
            </div>
        </div>
    </div>

    <%= form.hidden_field :id_turno, value: @params[:id_turno]%>
    <%= form.hidden_field :id_usuario, value: @params[:id_usuario]%>
    
<% end %>