<h1>Solicitudes#new</h1>
<%=  form_with(model: @solicitud, method: :post) do |form| %>

    <div>
        <%= form.label :descripcion_solicitud %>
        <%= form.text_area :descripcion, :cols => '70', :rows => '5' %>
        <%= form.hidden_field :id_turno, value: @id_turno%>
    </div>
    <div>
        <%= form.submit 'Enviar Solicitud' %>
    </div>
<% end %>
