<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="columns is-centered mt-4">
    <div class="column is-4">

      <div><h1 class="title has-background-info-light is-3 mb-4">Ingresar</h1></div>

      <div class="field">
        <%# <%= f.label :email %>
        <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <div class="control has-icons-left has-icons-right">
          <%= f.email_field :email, :class => "input", :type => "email", :placeholder => "Ingrese Email"%>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%# <%= f.label :contraseña %>
        <%# <%= f.password_field :password, autocomplete: "contraseña actual" %>
        <p class="control has-icons-left">
        <%= f.password_field :password, :class => "input", :type => "password", :placeholder => "Contraseña actual" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox">
            Remember me
          </label>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Ingresar", class: "button is-success is-outlined is-responsive"%>
      </div>
    
    </div>
  </div>
<% end %>
