<h1>Buscador de Turnos</h1>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table align='center'>
    <thead>
        <tr>
            <th>Día de la semana</th>
            <th>Dirección de llegada</th>
            <th>Dirección de salida</th>
            <th>Hora de salida</th>
        </tr>
    </thead>
    <tbody>
        <% if @turnos_buscador.empty?%>
            <h3> No hay turnos disponibles <h3>
        <% else %>
            <% @turnos_buscador.each do |turno| %>
            <tr>
                <td><%= turno.dia_de_la_semana%></td>
                <td><%= turno.direccion_llegada%></td>
                <td><%= turno.direccion_salida%></td>
                <td><%= turno.hora_salida%></td>
                <% if usuario_signed_in? %>
                <td><%= link_to "Ver Turno", turnos_show_path(:id => turno.id, :id_creador => turno.id_creador)%>
                <% end %>
                </td>
            </tr>
            <% end %>
        <%  end  %>
    </tbody>
</table>
<% if usuario_signed_in? %>
<%= link_to 'Ver mis solicitudes a nuevos turnos', solicituds_index_path(:tipo => 'mis solicitudes') %>
<% end %>
<h1>Turnos creados por mí</h1>

<table align='center'>
    <thead>
        <tr>
            <th>Día de la semana</th>
            <th>Dirección de llegada</th>
            <th>Dirección de salida</th>
            <th>Hora de salida</th>
        </tr>
    </thead>
    <tbody>
        <% if @mis_turnos.empty?%>
            <h3> No hay turnos disponibles <h3>
        <% else %>
            <% @mis_turnos.each do |turno| %>
            <tr>
                <td><%= turno.dia_de_la_semana%></td>
                <td><%= turno.direccion_llegada%></td>
                <td><%= turno.direccion_salida%></td>
                <td><%= turno.hora_salida%></td>
                <td><%= link_to "Ver Turno", turnos_show_path(:id => turno.id, :id_creador => turno.id_creador)%>
                </td>
            </tr>
            <% end %>
        <%  end  %>
    </tbody>
</table>
<% if usuario_signed_in? %>
<p><%= link_to "Ver Solicitudes hechas a mis turnos", solicituds_index_path(:tipo => 'solicitudes hechas a mis turnos')%></p>
<% end %>
<h1>Turnos en los que estoy </h1>
<table align='center'>
    <thead>
        <tr>
            <th>Día de la semana</th>
            <th>Dirección de llegada</th>
            <th>Dirección de salida</th>
            <th>Hora de salida</th>
        </tr>
    </thead>
    <tbody>
        <% if @turnos_que_estoy.empty?%>
            <h3> No hay turnos disponibles <h3>
        <% else %>
            <% @turnos_que_estoy.each do |turno| %>
            <tr>
                <td><%= turno.dia_de_la_semana%></td>
                <td><%= turno.direccion_llegada%></td>
                <td><%= turno.direccion_salida%></td>
                <td><%= turno.hora_salida%></td>
                <td><%= link_to "Ver Turno", turnos_show_path(:id => turno.id, :id_creador => turno.id_creador)%>
                </td>
            </tr>
            <% end %>
        <%  end  %>
    </tbody>
</table>
<% if usuario_signed_in? %>
<%= link_to 'Crear un nuevo turno', turnos_new_path %>
<% else %>
<h2> Bienvenid@ a Turnos UC! </h2>
<% end %>
