<div class="section">
    <div class="columns is-centered">
        <div class="column is-5">
            <div><h1 class="title is-3 has-background-info-light mb-4">Turno</h1></div>

            <div>
                <p class="is-size-6 has-text-weight-bold"> Direccion de llegada: <%= @turno.direccion_llegada%></p>
            </div>
            <div>
                <p class="mt-4 is-size-6 has-text-weight-bold "> Direccion de salida: <%= @turno.direccion_llegada%></p>
            </div>

            <div>
                <p class="mt-4 is-size-6 has-text-weight-bold"> Hora de salida: <%= @turno.hora_salida%></p>
            </div>

            <div>
                <p class="mt-4 is-size-6 has-text-weight-bold"> Dia de la semana: <%= @turno.dia_de_la_semana%></p>
            </div>
            
            <div>
                <p class="mt-4 is-size-6 has-text-weight-bold mb-2"> Nombre creador: <%= @creador.nombre%></p>
                <figure class="image is-128x128 is-inline-block"><%= image_tag(@creador.imagen) %></figure>
            </div>
        </div>
    </div>
</div>

<section class="section">
  <div class="content">
    <h3>Reseñas del turno</h3>
  </div>
    
  <div class="columns is-centered">
    <table class="table is-striped is-hoverable">
      <% if @resenas.empty?%>
        <p> El turno no tiene reseñas </p>
      <% else %>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Calificación</th>
            <th>Comentario</th>
          </tr>
      </thead>

      <tbody>
        <% @resenas.each do |resena| %>
        <tr>
          <td><%= resena.usuario.nombre %></td>
          <td><%= resena.calificacion %></td>
          <td><%= resena.contenido %></td>
        </tr>
        <% end %>
      </tbody>
      <%  end  %>
    </table>

  </div>
</section>

<%= link_to "Crear reseña", resenas_new_path(:turno_id => @turno.id, :creador_id => @creador.id), class: "button is-outlined is-info is-small" %>

<! Acá debo agregar el nombre y foto del creador, nombre de los participantes, y cualquier otra cosa que se me ocurra
#Además, acá va la posible solicitud >

<section class="section">
  <div class="columns is-centered">
    <div class="column is-4">
      
      <% if current_usuario.id == @turno.id_creador %>
          <h3 class="title is-5">Opciones</h3>
          <p><%= link_to 'Editar turno', turnos_edit_path(:id => @turno.id), class: "button is-outlined is-info is-small" %>
          <%= link_to "Borrar Turno", turnos_delete_path(:id => @turno.id), method: :delete, class: "button is-outlined is-danger is-small" %></p>
      <% elsif @mostrar_solicitar_unirse %>
          <h3 class="title has-background-info-light is-5">Solicitar</h3>
          <p><%= link_to 'Solicitar unirse al turno', solicituds_new_path(:id_turno => @turno.id), class: "button is-outlined is-success is-link is-small" %></p>
      <% elsif @mostrar_salirse_del_turno %>
          <h3 class="title has-background-info-light is-5">Salirse</h3>
          <p><%= link_to 'Salirse del Turno', pertenece_as_delete_path(:id_pertenece_a => @id_pertenece_a), method: :delete, class: "button is-outlined is-danger is-small"%></p>
      <% end %>

    </div>
  </div>
</section>

<% if current_usuario.id == @turno.id_creador %>
    <%= link_to 'Volver a ver turnos creados por mí', turnos_index_path(:razon => "Turnos Creados por mi"), class: "mt-6 button is-link is-outlined is-small" %>
<% elsif @mostrar_solicitar_unirse %>
    <%= link_to 'Volver a buscar turnos', turnos_index_path(:razon => "Buscador de Turnos"), class: "mt-6 button is-link is-outlined is-small" %>
<% elsif @mostrar_salirse_del_turno %>
    <%= link_to 'Volver a ver los turnos en los que estoy', turnos_index_path(:razon => "Turnos en los que estoy"), class: "mt-6 button is-link is-outlined is-small" %>
<% end %>
