

<div class="column is-one-fifth has-background-info-light mt-3 ml-3">
    <div class="container content">
        <aside class="menu has-text-left margin mt-3 ml-2">
            
            <p class="menu-label is-size-6 is-underlined">
                Turnos
            </p>
            <ul class="menu-list">
                <li><a href=<%= turnos_new_path %>> Crear Turno </a></li>
                <li><a href=<%= turnos_index_path(:razon => "Buscador de Turnos") %>> Buscador de Turnos </a></li>
                <li><a href=<%= turnos_index_path(:razon => "Mis Turnos") %>> Ver Mis Turnos </a></li>
                <li><a href=<%= turnos_index_path(:razon => "Turnos de los que Participo") %>> Turnos de los que Participo </a></li>
                <li>
                    <figure class="image is-64x64">
                        <a href=<%= turnos_redirect_path %>> <%= image_tag("calendar_logo.jpg", class: "is-rounded") %></a>
                </li>

            </ul>
            <p class="menu-label is-size-6 is-underlined">
                Solicitudes
            </p>
            <ul class="menu-list">
                <li><a href=<%= solicituds_index_path(:tipo => 'mis solicitudes') %>> Ver Mis Solicitudes </a></li>
                <li><a href=<%= solicituds_index_path(:tipo => 'solicitudes hechas a mis turnos') %>> Ver Solicitudes a Mis Turnos </a></li>
            </ul>
                
        </aside>
    </div>
</div>