<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <title>Grupo20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body align="center">
    
    <%# <p class="notice"><%= notice %> </p>
    <%# <p class="alert"><%= alert %> </p>

    <% if usuario_signed_in? %>
      <%= link_to "Cerrar sesion", destroy_usuario_session_path, method: :delete, :class => "button is-light"%>
      <%= link_to "Editar Perfil", edit_usuario_registration_path, :class => "button is-light" %>
    <% else %>
      <% if current_page?(new_usuario_registration_path) %>
        <%= link_to "Inicio", root_path, :class => "button is-light"%>
        <%= link_to "Iniciar sesion", new_usuario_session_path, :class => "button is-light"%>
      <% elsif current_page?(new_usuario_session_path) %>
        <%= link_to "Inicio", root_path, :class => "button is-light"%>
        <%= link_to "Registrarse", new_usuario_registration_path, :class => "button is-light" %>
      <% else %>
        <%= link_to "Iniciar sesion", new_usuario_session_path, :class => "button is-light"%>
        <%= link_to "Registrarse", new_usuario_registration_path, :class => "button is-light" %>
      <% end %>
    <% end %>
      
    <%= yield %>
    
  </body>
</html>
