<!DOCTYPE html>
<html>
  <head>
    <title>Grupo20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body align='center'>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_usuario %>
      <%= link_to "Cerrar sesion", destroy_usuario_session_path, method: :delete %>
    <% else %>
      <%= link_to "Iniciar sesion", new_usuario_session_path %>
      <%= link_to "Registrarme", new_usuario_registration_path %>
    <% end %>
      
    <%= yield %>
    
  </body>
</html>
